@page "/addItem"
@inherits ItemFormBase
@using AntDesign;

<PageTitle>Item Form</PageTitle>

@if (ItemDTO != null)
{
    @if(WasItemPassedInUri)
    {
        <h3>Updating @ItemDTO.Name</h3>
    }
    else
    {
        <h3>Adding New Item</h3>
    }

    <Form Model="@ItemDTO" LabelColSpan="2" WrapperColSpan="4" Size="AntSizeLDSType.Default" ValidateMode="@FormValidateMode.Rules" OnFinish="OnFinish" OnFinishFailed="OnFinishFailed">

        <FormItem Label="Item Name" Required Rules=@Rules.RuleRequired>
            <Input @bind-Value="@ItemDTO.Name" />
        </FormItem>

        <FormItem Label="Item Group" Required Rules=@Rules.RuleRequired>
            <SimpleSelect @bind-Value="ItemDTO.ItemGroup">
                <SelectOptions>
                    <SimpleSelectOption Value="Group_1" Label="Group_1"></SimpleSelectOption>
                    <SimpleSelectOption Value="Group_2" Label="Group_2"></SimpleSelectOption>
                </SelectOptions>
            </SimpleSelect>
        </FormItem>

        <FormItem Label="Unit of Measurement" Required Rules=@Rules.RuleRequired>
            <SimpleSelect @bind-Value="ItemDTO.UnitOfMeasurement">
                <SelectOptions>
                    <SimpleSelectOption Value="Unit_1" Label="Unit_1"></SimpleSelectOption>
                    <SimpleSelectOption Value="Unit_2" Label="Unit_2"></SimpleSelectOption>
                </SelectOptions>
            </SimpleSelect>
        </FormItem>

        <FormItem Label="Quantity" Required Rules=@Rules.QuantityRule>
            <AntDesign.InputNumber @bind-Value="@ItemDTO.Quantity" />
        </FormItem>

        <FormItem Label="Price" Required Rules=@Rules.MoneyRule>
            <AntDesign.InputNumber @bind-Value="@ItemDTO.PriceWithoutVat" />
        </FormItem>

        <FormItem Label="Status" Required Rules=@Rules.RuleRequired>
            <Input @bind-Value="@ItemDTO.Status" />
        </FormItem>

        <FormItem Label="Storage Location">
            <Input @bind-Value="@ItemDTO.StorageLocation" />
        </FormItem>

        <FormItem Label="Contact person" >
            <TextArea @bind-Value="@ItemDTO.ContactPerson" />
        </FormItem>

        <FormItem WrapperColOffset="2" WrapperColSpan="4">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                @ApplyButtonText
            </Button>
        </FormItem>

    </Form>
}
else
{
    <p>Loading...</p>
}