@page "/addItem"
@inherits ItemFormBase
@using AntDesign;
@using TMA_Warehouse.Shared.DTOs;
@using TMA_Warehouse.Shared.Models

<PageTitle>Item Form</PageTitle>

@if (Item != null && ItemGroups != null && UnitsOfMeasurements != null)
{
    @if(WasItemPassedInUri)
    {
        <h3>Updating @Item.Name</h3>
    }
    else
    {
        <h3>Adding New Item</h3>
    }

    <Form Model="@ItemFormModel" LabelColSpan="0" WrapperColSpan="0" Size="AntSizeLDSType.Default" OnFinish="OnFinish" OnFinishFailed="OnFinishFailed">

        <FormItem Label="Item Name" Required>
            <Input @bind-Value="@Item.Name" />
        </FormItem>

        <FormItem Label="Select" Required>
            <Select TItem="ItemGroup"
                    TItemValue="int"
                    DataSource="@ItemGroups"
                    @bind-Value="@Item.ItemGroupId"
                    ValueName="@nameof(ItemGroup.Id)"
                    LabelName="@nameof(ItemGroup.Name)"
                    DefaultActiveFirstOption
                    Style="width: 200px;"
                    OnSelectedItemChanged="UpdateItemGroupName">
                <ItemTemplate Context="itemGroupContext">
                    <span>@((itemGroupContext as ItemGroup).Name)</span>
                </ItemTemplate>
            </Select>
        </FormItem>

        <FormItem Label="Select" Required>
            <Select TItem="UnitOfMeasurement"
                    TItemValue="int"
                    DataSource="@UnitsOfMeasurements"
                    @bind-Value="@Item.UnitOfMeasurementId"
                    ValueName="@nameof(UnitOfMeasurement.Id)"
                    LabelName="@nameof(UnitOfMeasurement.Name)"
                    DefaultActiveFirstOption
                    Style="width: 200px;"
                    OnSelectedItemChanged="UpdateUnitOfMeasurementName">
                <ItemTemplate Context="unitsOfMeasurement">
                    <span>@((unitsOfMeasurement as UnitOfMeasurement).Name)</span>
                </ItemTemplate>
            </Select>
        </FormItem>

        <FormItem Label="Quantity" Required>
            <AntDesign.InputNumber @bind-Value="@Item.Quantity" />
        </FormItem>

        <FormItem Label="Price" Required>
            <AntDesign.InputNumber @bind-Value="@Item.PriceWithoutVAT" />
        </FormItem>

        <FormItem Label="Status" Required>
            <Input @bind-Value="@Item.Status" />
        </FormItem>

        <FormItem Label="Storage Location">
            <Input @bind-Value="@Item.StorageLocation" />
        </FormItem>

        <FormItem Label="Contact person" >
            <TextArea @bind-Value="@Item.ContantPerson" />
        </FormItem>

        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button HtmlType="submit">
                @ApplyButtonText
            </Button>
        </FormItem>

    </Form>
}
else
{
    <p>Loading...</p>
}