@page "/items"
@inherits ItemBase

@if(Items == null)
{
    <h3>Loading Items...</h3>
}
else
{
    <h3 class="mb-5">Items</h3>

    <h1>
        <button @onclick="@(() => AddItem())" class="btn btn-primary">Add Item</button>
    </h1>

    <input type="text" @bind="@searchNameText" @oninput="@(() => SearchForItems())" placeholder="Search by name..." class="form-control mb-3" />


    if (Items.Count() > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    @foreach (var property in Properties)
                    {
                        if(!property.Name.Contains("Id"))
                        {
                            <th @onclick="@(() => Sort(property))">
                                @property.Name
                                @if (CurrentSortProperty == property)
                                {
                                    <i class="@(ascending ? "oi oi-arrow-top" : "oi oi-arrow-bottom")"></i>
                                }
                            </th>
                        }
                    }
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>
                        @foreach (var property in Properties)
                        {
                            if (!property.Name.Contains("Id"))
                            {
                                <td>@property.GetValue(item)</td>
                            }
                        }

                        <td><button class="btn btn-primary" @onclick="@(() => UpdateItem(item))">Update</button></td>
                        <td><button class="btn btn-danger" @onclick="@(() => RemoveItem(item))">Remove</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}