@page "/addItem"
@inherits ItemFormBase
@using AntDesign;
@using TMA_Warehouse.Shared.DTOs;
@using TMA_Warehouse.Shared.Models

<PageTitle>Item Form</PageTitle>

@if (ItemFrontendModel != null && ItemGroups != null && UnitsOfMeasurements != null)
{
    @if(WasItemPassedInUri)
    {
        <h3>Updating @ItemFrontendModel.Name</h3>
    }
    else
    {
        <h3>Adding New Item</h3>
    }

    <Form Model="@ItemFrontendModel" LabelColSpan="2" WrapperColSpan="4" Size="AntSizeLDSType.Default" ValidateMode="@FormValidateMode.Rules" OnFinish="OnFinish" OnFinishFailed="OnFinishFailed">

        <FormItem Label="Item Name" Required Rules=@RuleRequired>
            <Input @bind-Value="@ItemFrontendModel.Name" />
        </FormItem>

        <FormItem Label="Select" Required>
            <Select TItem="ItemGroup"
                    TItemValue="int"
                    DataSource="@ItemGroups"
                    @bind-Value="@ItemFrontendModel.ItemGroupId"
                    ValueName="@nameof(ItemGroup.Id)"
                    LabelName="@nameof(ItemGroup.Name)"
                    DefaultActiveFirstOption
                    @*Style="width: 200px;" *@
                    OnSelectedItemChanged="UpdateItemGroupName">
                <ItemTemplate Context="itemGroupContext">
                    <span>@((itemGroupContext as ItemGroup).Name)</span>
                </ItemTemplate>
            </Select>
        </FormItem>

        <FormItem Label="Select" Required>
            <Select TItem="UnitOfMeasurement"
                    TItemValue="int"
                    DataSource="@UnitsOfMeasurements"
                    @bind-Value="@ItemFrontendModel.UnitOfMeasurementId"
                    ValueName="@nameof(UnitOfMeasurement.Id)"
                    LabelName="@nameof(UnitOfMeasurement.Name)"
                    DefaultActiveFirstOption
                    @*Style="width: 200px;"*@
                    OnSelectedItemChanged="UpdateUnitOfMeasurementName">
                <ItemTemplate Context="unitsOfMeasurement">
                    <span>@((unitsOfMeasurement as UnitOfMeasurement).Name)</span>
                </ItemTemplate>
            </Select>
        </FormItem>

        <FormItem Label="Quantity" Required Rules=@QuantityRule>
            <AntDesign.InputNumber @bind-Value="@ItemFrontendModel.Quantity" />
        </FormItem>

        <FormItem Label="Price" Required Rules=@MoneyRule>
            <AntDesign.InputNumber @bind-Value="@ItemFrontendModel.PriceWithoutVAT" />
        </FormItem>

        <FormItem Label="Status" Required Rules=@RuleRequired>
            <Input @bind-Value="@ItemFrontendModel.Status" />
        </FormItem>

        <FormItem Label="Storage Location">
            <Input @bind-Value="@ItemFrontendModel.StorageLocation" />
        </FormItem>

        <FormItem Label="Contact person" >
            <TextArea @bind-Value="@ItemFrontendModel.ContactPerson" />
        </FormItem>

        <FormItem WrapperColOffset="2" WrapperColSpan="4">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                @ApplyButtonText
            </Button>
        </FormItem>

    </Form>
}
else
{
    <p>Loading...</p>
}