@page "/Lists/Items"
@using AntDesign
@using TMA_Warehouse.Shared.DTOs
@inherits ItemsBase

<PageTitle>List of goods</PageTitle>

@if (Items == null)
{
    <h3>Loading Items...</h3>
}
else
{
    <h3 class="mb-5">Items</h3>

    <div style="margin-bottom: 25px">
        <Button Type="@ButtonType.Primary" OnClick="() => AddItemButtonAction()">Add Item</Button>
        <Button Type="@ButtonType.Primary" OnClick="()=>OrderItemButtonAction()">Place Order</Button>
    </div>

    <input type="text" @oninput="@((value) => SearchForItems(value.Value.ToString()))" placeholder="Search by name..." class="form-control mb-3" />

    if (Items.Count() > 0)
    {
        <Table TItem="ItemDTO" DataSource="@Items" PageSize="20">
            <PropertyColumn Property="c=>c.Name" Title="Name" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.ItemGroup" Title="Item Group" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.UnitOfMeasurement" Title="Unit of Measurement" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.Quantity" Title="Quantity" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.PriceWithoutVat" Title="Price" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.Status" Title="Status" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.StorageLocation" Title="Storage Location" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.ContactPerson" Title="Contact Person" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.PhotoUrl" Title="Photo"></PropertyColumn>

            <ActionColumn Title="Action">
                <Space Size=@("middle")>
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="()=>UpdateItemButtonAction(context)">Update</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Danger OnClick="()=>RemoveItemButtonAction(context)">Delete</Button>
                    </SpaceItem>
                </Space>
            </ActionColumn>

        </Table>
    }
}