@page "/orderItem"
@inherits OrderItemFormBase
@using AntDesign;
@using TMA_Warehouse.Client.FrontendModels;

@inject IMessageService _message

<PageTitle>Order Item Form</PageTitle>

@if (OrderDTO != null && ItemToAdd != null && Items != null && Items.Count() > 0)
{
    @if (showSuccess)
    {
        <div class="modal show" tabindex="-1" style="display: block;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Success</h5>
                    </div>
                    <div class="modal-body">
                        @popupMessage
                    </div>
                </div>
            </div>
        </div>
    }

    <div style="display: flex;">
        <div style="flex: 1;">
            <h1>Order Details</h1>
            <Form Model="@OrderDTO" LabelColSpan="4" WrapperColSpan="10" Size="AntSizeLDSType.Default" ValidateMode="@FormValidateMode.Rules" OnFinish="OnFinishOrder">

                <FormItem Label="Order Comment">
                    <TextArea @bind-Value="@OrderDTO.Comment" />
                </FormItem>

                <Table TItem="ItemOrderModel" DataSource="@OrderedItems" PageSize="20" Context="tableContext">
                    <PropertyColumn Property="tableContext=>tableContext.ItemName" Title="Name" Sortable Filterable></PropertyColumn>
                    <PropertyColumn Property="tableContext=>tableContext.UnitOfMeasurement" Title="Unit of Measurement" Sortable Filterable></PropertyColumn>
                    <PropertyColumn Property="tableContext=>tableContext.Quantity" Title="Quantity" Sortable Filterable></PropertyColumn>
                    <PropertyColumn Property="tableContext=>tableContext.PriceWithoutVat" Title="Price" Sortable Filterable></PropertyColumn>
                    <PropertyColumn Property="tableContext=>tableContext.Comment" Title="Comment"></PropertyColumn>
                </Table>

                <FormItem WrapperColOffset="2" WrapperColSpan="4">
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        Submit Order
                    </Button>
                </FormItem>

                <FormItem WrapperColOffset="2" WrapperColSpan="4">
                    <Button Danger OnClick="CancelOrder">
                        Cancel Order
                    </Button>
                </FormItem>
            </Form>
            
        </div>
        <div style="flex: 1;">
            <h1>Add Item to Order</h1>

            <Form Model="@ItemToAdd" LabelColSpan="4" WrapperColSpan="10" Size="AntSizeLDSType.Default" ValidateMode="@FormValidateMode.Rules" OnFinish="() => OnFinishAddingItemToOrder(ItemToAdd)">

                <FormItem Label="Item" Required Rules=@Rules.RuleRequired>
                    <SimpleSelect @bind-Value="ItemToAdd.ItemName">
                        <SelectOptions>
                            @foreach (var item in Items)
                            {
                                <SimpleSelectOption Value="@item.Name" Label="@item.Name"></SimpleSelectOption>
                            }
                        </SelectOptions>
                    </SimpleSelect>
                </FormItem>

                <FormItem Label="Unit of Measurement" Required Rules=@Rules.RuleRequired>
                    <SimpleSelect @bind-Value="ItemToAdd.UnitOfMeasurement">
                        <SelectOptions>
                            <SimpleSelectOption Value="Unit_1" Label="Unit_1"></SimpleSelectOption>
                            <SimpleSelectOption Value="Unit_2" Label="Unit_2"></SimpleSelectOption>
                        </SelectOptions>
                    </SimpleSelect>
                </FormItem>

                <FormItem Label="Quantity" Required Rules=@Rules.QuantityRule>
                    <AntDesign.InputNumber @bind-Value="@ItemToAdd.Quantity" />
                </FormItem>

                <FormItem Label="Price" Required Rules=@Rules.MoneyRule>
                    <AntDesign.InputNumber @bind-Value="@ItemToAdd.PriceWithoutVat" />
                </FormItem>

                <FormItem Label="Comment">
                    <TextArea @bind-Value="@ItemToAdd.Comment" />
                </FormItem>

                <FormItem WrapperColOffset="2" WrapperColSpan="4">
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        Add Item
                    </Button>
                </FormItem>
            </Form>
        </div>
    </div>


}
else
{
    <p>Loading...</p>
}